

.clslogout{    

    display: flex;
    justify-content: flex-end;

}

.logoutbutton{
    margin-right: 45px;
    font-size: 20px;
    border: none;
    border-radius: 12px;
    background-color: #04AA6D;  
    cursor: pointer;  
}