.mainBody {
  width: 100%;
  min-height: calc(100vh - 180px);
}

.clslogout {
  display: flex;
  justify-content: flex-end;
}

.logoutbutton {
  margin-right: 45px;
  font-size: 20px;
  border: none;
  border-radius: 12px;
  background-color: #FF709E;  
  cursor: pointer;  
}
