$width:20px;
$height:20px;

.divCheckbox{
    
    justify-content: flex-start;
    
}

.checkboxList{
    width: $width;
    height: $height;    
    cursor: pointer;
    border-radius: 4;    
    
}

.checkboxlabel{
    font-size: 25px;
    text-align: top;
}