@mixin tool {
  text-align: center;
  width: 120px;
  padding-left: 0;
  white-space: nowrap;
  cursor: pointer;
  font-size: 35px;
  font-weight: 900;
  color: #313d53;
  text-transform: none;
  letter-spacing: -0.075rem;
}

@mixin content-center {
  margin-top: 5px;
  text-align: center;
  display: block;  
  cursor: pointer;
}

@mixin toolHover {
  background-color: #e9e6e6;
}

.headerwrap {
  display: flex;
  width: 100%;
  height: 3.5rem;
  padding: 0 3%;
  position: relative;
}

.toolbar {
  justify-content: start;
  margin-right: 5%;
  @include tool;
}

.toolbar:hover {
  @include toolHover;
}

.center {
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.graph {
  display: block;
  width: 80px;
  cursor: pointer;
  margin-top: 5px;  
}

.graph:hover{
  transform: scaleY(1.3);
}

.youtube {
  @include content-center;
  width: 100px;
}

.youtube:hover {
  transform: scaleY(1.3);
}

.companyPage {
  @include tool;
}

.companyPage:hover {
  @include toolHover;
}

.ward:hover {
  transform: scaleY(1.3);
}

.ward{
  @include content-center;
}
