$colorddd:#ddd;
$align:center;
$display:flex;
$colorAA:#04AA6D;


.table-pagesize{
    width: 100%;    
    margin: 5px;
    display:$display;     
}

.clsTableControll{
    width: 30%;
    display:$display;
    justify-content: flex-end;
    align-items: $align; 
}

.clsStopCheckbox{
    width: 70%;
    display:$display;
}

.selectButton{
    width: 60px;
    height: 35px;
    background-color: $colorAA;
    border: none;
    border-radius: 12px;
    margin-left: 15px;
    font-size: 22px;
    cursor: pointer;
}

.table{
    font-size: 24px;    
}

table{ 
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;    
}

table td, table th{
    border: 1px solid $colorddd;
    padding: 8px;
}

table tr:nth-child(even){
    background-color: #f2f2f2;
}

.tbody_tr:hover{
    background-color: $colorddd;
    cursor: pointer;
    transform: scaleY( 1.5 )
}

table th{
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: $colorAA;
    color: white;
}

.table-pagination{
    margin: 5px;
    display: $display;
    justify-content: $align;
    align-items: $align;
}

.prevStrong{
    display: block;
    width: 100px;
    text-align: $align;
}

.gotopageInput{
    width: 50px;
}

